/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

body {
  background-color: #F0F6F9;
}

#containerId {
  width: auto;
}

#header-container{
  text-align: center;
  color: #394648;
  font-family: 'Bebas Neue', sans-serif;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  width: 100%;
  padding: 20px;
  background-color: #F0f6f9;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  font-family: 'Montserrat', sans-serif;

}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: #394648;
  font-family: 'Bebas Neue', sans-serif;

}

.input-container {
  margin-bottom: 10px;
}

.description {
  color: #394648;
}

#form-container {
  padding-bottom: 10px;
}

.funcion-title {
  color: #394648;
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 5px; 
}

.funciontype-title {
  color: #394648;
  margin-bottom: 5px; 
}

.funcion-input,
.funciontype-form {
  width: calc(100% - 70px);
  margin-bottom: 10px; 
}

.funcion-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-container {
  display: flex;
  justify-content: center;
}



.canva-container {
  display: flex;
  justify-content: center;
}

/* Estilos Bootstrap */
.form-select {
  margin-bottom: 10px;
}

.col {
  display: flex;
  align-items: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.row > * {
  flex: 1;
  padding: 0 5px;
}

.row > *:last-child {
  margin-right: 0;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ddd;
}

.btn {
  width: 100%;
  padding: 0.375rem 0.75rem;
}

.btn:hover {
  background-color: #007bff;
  color: #fff;
}


@media (min-width: 768px) {
  .col > * {
    margin-right: 10px;
  }
  
  .col:last-child > * {
    margin-right: 0;
  }
  .col > *:not(:last-child) {
    margin-right: 10px;
  }

}

#img-container{
  text-align: center;
}

#ucc-logo{
  width: 10%;
}